@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


:root {
--DarkBlue : hsl(209, 23%, 22%) ; /* (Dark Mode Elements) */
--VeryDarkBlue : hsl(207, 26%, 17%); /* (Dark Mode Background) */
--VeryDarkBlue : hsl(200, 15%, 8%); /* (Light Mode Text) */
--DarkGray : hsl(0, 0%, 52%); /* (Light Mode Input) */
--VeryLightGray : hsl(0, 0%, 98%); /* (Light Mode Background) */
--White: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: var(--VeryLightGray);
  min-height: 100vh;
  height: 100%;
}

.app.darkMode{
  background-color: var(--VeryDarkBlue);
  color: var(--White);
    min-height: 100vh;
  height: 100%;
}

.main-body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--VeryLightGray);
}

.header {
  padding:  15px;
  background: var(--White);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.header.darkMode{
 background-color: var(--DarkBlue);
 color: var(--White);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.switch-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input{
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: 350px;
  border-radius: 5px;
  gap: 5px;
}


.search-input.darkMode {
  background-color: var(--DarkBlue);
  color: var(--White);
}
.search-input.darkMode input{
  color: var(--White);
}

.search-input.darkMode input::placeholder{
  color: white;
}


.search-input input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.filter-region {
  width: 200px;
  background-color: var(--White);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 5px;
  
}

.filter-region.darkMode {
  background-color: var(--DarkBlue);
  color: var(--White);
}

.filter-region select {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter-region.darkMode select {
  color: var(--White);
}

.filter-region.darkMode option {
  color: var(--White);
  background-color: var(--DarkBlue);
}

.countries {
  max-width: 1400px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.country {
  background: var(--White);
  width: 305px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 370px;
  border-radius: 5px;
  cursor: pointer;
}

.country.darkMode {
  background: var(--DarkBlue);
  color: var(--White);
}

.country .flag-container{
  height: 170px;
  width: 100%;
}

.country .flag-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country .name {
  margin-bottom: 10px;
  color: var(--VeryDarkBlue);
}

.country .values {
  color: var(--DarkGray);
}

.country .values.darkMode {
  color: var(--DarkGray);
}

.country .details {
  padding: 15px;
}

.back {
  background-color: var(--White);
  border: 0;
  outline: 0;
  margin-bottom: 25px;
  width: 100px;
}

.back.darkMode {
  background-color: var(--DarkBlue);
  color: var(--White);
}
.info p {
  margin-bottom: 5px;
  font-weight: 600;
}



.country-details {
  margin: 15px auto 0;
  padding: 15px;
  min-height: 100vh;
  max-width: 1400px;
  
}

.back {
 background-color: var(--White);
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.country-details-body {
  margin: 15px auto 0;
 padding: 15px;
  
  max-width: 1400px;
  display: flex;
  justify-content: center;
/*   align-items: center; */
  gap: 40px;
}

.img-container {
  flex: 0.5;
}

.img-container img {
  width: 100%;
  object-fit: cover;
}

.info {
  flex: 0.5;
}

.info.darkMode {
  color: var(--White);
}

.name.darkMode {
  color: var(--White);
}

.info-container {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.info h2{
  margin-bottom: 15px;
  font-weight: 800;
}

.info .values {
   color: var(--DarkGray);
}

.info .values.darkMode {
  color: var(--White);
} 
.border-country {
  padding: 5px 10px;
  background-color: var(--White);
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.border-country.darkMode {
  color: var(--White);
  background-color: var(--DarkBlue);
}

.right-info {
  margin-bottom: 55px;
}






@media (max-width: 800px) {

  
  .country-details-body {
    display: flex;
    flex-direction: column;
  
  }

  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-info {
    margin-bottom: 20px;
  }

  
}


@media (max-width: 720px) {
  
  .inputs {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .search-input {
    margin-bottom: 20px;
  }

  .switch-mode {
    font-size: 12px;
    flex: 0.5;
    align-items: flex-end;
  }

  .logo {
    flex: 0.5;
    font-size: 16px;
  }

  
  
  
}